body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#laundry-status-container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: left;
    margin-bottom: 20px;
}

.machines-container {
    display: flex;
    justify-content: space-between;
}

.machine-section {
    flex: 1;
    margin: 0 10px;
}

.machine-section h3 {
    text-align: left;
    margin-left: 20px;
}

.machine-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
}

.machine {
    background-color: #e9ecef;
    border-radius: 10px;
    width: 150px;
    padding: 10px;
    text-align: center;
}

.machine .icon {
    background-color: #dcdcdc;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto 10px;
}

.machine .course,
.machine .time {
    font-size: 16px;
}

.machine.active {
    background-color: #ffeb3b;
    color: #000;
}

.machine.active .icon {
    background-color: #ffc107;
}

.divider {
    width: 0.5px;
    background-color: #000;
    margin: 0 20px;
}
