<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/navbar.css">
	<script src="https://kit.fontawesome.com/1de9391d12.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar__logo">
                <i class="fa-solid fa-soap" aria-hidden="true"></i>
                <a href="/">Bubble Bubble</a>
            </div>

            <ul class="navbar__menu">
            <% if (user) { %>
                <% if (user.role === 'admin') { %>
                    <li><a href="/manager/getMachine">machine</a></li>
                    <li><a href="/manager/getNotice">write notice</a></li>
                    <li><a href="/manager/getStatistic">statistic</a></li>
                <% } %>
                <% if (user.role === 'user') { %>
                    <li><a href="/user/userReserve">reservation</a></li>
                    <li><a href="/user/userHome">myReservation</a></li>
                    <li><a href="/user/userUsing">running</a></li>
                <% } %>
                <li><a href="/reviews/getReviews">review</a></li>
                <li><a href="/showNotice">notice</a></li>
                <li><a href="/getWeather">weather</a></li>
                <li><a href="/logout" id="logoutBtn">logout</a></li>
            <% } else { %>
                <li><a href="/login">login</a></li>
            <% } %>
            </ul>

            <ul class="navbar__icons">
                <li><i class="fa-solid fa-angle-up"></i></li>
            </ul>

            <a href="#" class="navbar__toogleBtn">
	        <i class="fa-solid fa-bars"></i>
	   </a>
        </nav>
    </body>
</html>
