<!-- 로그인 후 사용자 페이지 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Main Page</title>
</head>
<body>
    <h1>This is User Page!</h1>
    <form action="/userMain" method="POST">
        <button class="btn btn-lg btn-danger btn-block" type="submit">Logout</button>
    </form>
</body>
</html>
