<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <%- include('navbar.ejs') %>
    </header>
    <div class="sidebar">
        <a href="/manager/getMachine">실시간 사용현황</a>
        <a href="/user/userReserve">예약하기</a>
        <a href="/user/userHome">나의 예약 내역</a>
        <a href="/user/userUsing">나의 사용중 기기</a>
        <a href="/showNotice">공지사항</a>
        <a href="/reviews/getReviews">리뷰</a>
        <a href="#">...</a>
    </div>
    <%- body %>
</body>
</html> 