body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

form {
    background-color: #fff;
    margin: 30px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #E6E6E6;
    box-sizing: border-box;
    border: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border: 1px solid #ccc;
    outline: none;
}

input[type="submit"] {
    background-color: #D8CEF6;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
}

input[type="submit"]:hover {
    background-color: #bfb2e6;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #666666;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin: 10px 0;
}
.btn:hover {
	background-color: #4d4d4d;
}

/*sidebar for manager and user page*/
.sidebar {
    width: 250px;
    background-color: #FFFFFF;
    position: fixed;
    height: 100%;
    border: 1px solid #d3d3d3;
}
.sidebar a {
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    color: black;
    display: block;
    border-bottom: 1px solid #d3d3d3;
}
.sidebar a:hover {
    background-color: #d3d3d3;
    color: black;
}
