<head>
    <title>회원가입 페이지</title>
    <style>
	.signup-form{
	    max-width: 1000px;
	    padding: 20px;
            margin: auto;
	}
	.subscription-form{
	    padding: 20px;
	    max-width: 1000px;
	}

        .radio-group {
            display: flex;
            justify-content: start;
	    margin-bottom: 1rem;
        }
        .signup-form{
            padding: 20px;
        } 
        .radio-group label{
            font-family: sans-serif;
	    vertical-align: middle;
	    margin-right: 0.5rem;
        }
	[type="radio"],
        span {
            vertical-align: middle;
        }
	</style>
</head>
<body>
    <div class="signup-form">
        <h1>회원가입</h1>
        <form class="subscription-form" action="/subscribers/subscriber" method="post">
            <div class="radio-group">
            <input type="radio" id="roleUser" name="role" value="user" required>
            <label for="roleUser">User</label>
            <input type="radio" id="roleAdmin" name="role" value="admin" required>
            <label for="roleAdmin">Admin</label>
            </div>
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="email" placeholder="Email">
            <input type="text" name="password" placeholder="Password">
            <input type="submit" name="submit">
        </form>
    </div>
</body>
