<!DOCTYPE html>
<html lang="ko">
<head>
    <title>회원가입 페이지</title>
    <style>
        .signup-form {
            max-width: 1000px;
            padding: 20px;
            margin: auto;
        }
        .subscription-form {
            padding: 20px;
            max-width: 1000px;
        }
        .radio-group {
            display: flex;
            justify-content: start;
            margin-bottom: 1rem;
        }
        .radio-group label {
            font-family: sans-serif;
            vertical-align: middle;
            margin-right: 0.5rem;
        }
        [type="radio"], span {
            vertical-align: middle;
        }
    </style>
    <script>
        async function handleSubmit(event) {
            const data = "회원가입이 되었습니다";

            // 회원가입 요청
            const response = await fetch('/subscribers/subscriber', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            const result = await response.text();

            if (response.status === 200) {
                alert(result);
                window.location.href = '/'; // 회원가입 완료 후 리다이렉트
            } else {
                alert(`회원가입 오류: ${result}`);
            }
        }
    </script>
</head>
<body>
    <div class="signup-form">
        <h1>회원가입</h1>
        <p>이름, 이메일, 비밀번호는 필수입니다.</p>
        <form class="subscription-form" onsubmit="handleSubmit(event)">
            <div class="radio-group">
                <input type="radio" id="roleUser" name="role" value="user" required>
                <label for="roleUser">User</label>
                <input type="radio" id="roleAdmin" name="role" value="admin" required>
                <label for="roleAdmin">Admin</label>
            </div>
            <input type="text" name="name" placeholder="이름" required autocomplete="off">
            <input type="text" name="email" placeholder="이메일" required autocomplete="off">
            <input type="password" name="password" placeholder="비밀번호" required autocomplete="off">
            <input type="text" name="phoneNumber" placeholder="전화번호" autocomplete="off">
            <input type="text" name="cardNumber" placeholder="카드번호 (0000-0000-0000-0000)" autocomplete="off">
            <input type="text" name="branchName" placeholder="지점명" autocomplete="off">
            <input type="text" name="address" placeholder="지점주소" autocomplete="off">
            <input type="submit" name="join" value="회원가입">
        </form>
    </div>
</body>
</html>












