<head>
    <title>마이 페이지</title>
    <style>
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("logout").addEventListener("click", function() {
                fetch("/logout", {
                    method: "POST"
                })
                .then(response => {
                    if (response.ok) {
                        window.location.href = "/"; // 로그아웃 후 리디렉션할 페이지
                    } else {
                        alert("Logout failed.");
                    }
                });
            });

            document.getElementById("delete-account").addEventListener("click", function() {
                if (confirm("회원 탈퇴를 하시겠습니까?")) {
                    fetch("/deleteAccount", {
                        method: "POST"
                    })
                    .then(response => {
                        if (response.ok) {
                            window.location.href = "/";
                        } else {
                            alert("delete account failed.");
                        }
                    });
                }
            });
        });
    </script>
</head>
<body>
    <div class="main-content">
        <header>
            <h1>My Page</h1>
        </header>

        <section class="profile">
<!--             <img src="<%= user.profileImage %>" alt="Profile Image" class="profile-image"> -->
            <div class="nickname">
                <p><%= user.userName %></p>
                <button id="edit-profile">Edit Profile</button>
            </div>
        </section>
        <section class="settings">
<!--             <button id="notifications-toggle"> -->
<!--                 <%= user.notificationsEnabled ? 'Disable Notifications' : 'Enable Notifications' %> -->
<!--             </button> -->
            <button id="change-password">Change Password</button>
        </section>
        <section class="wishlist">
            <button id="view-wishlist">View Wishlist</button>
        </section>
        <footer>
            <button id="logout">Logout</button>
            <button id="delete-account">Delete Account</button>
        </footer>
    </div>
</body>
